<div
  class="grid grid-cols-12 bg-[url('/assets/image/FONDOS/FONDO_1.png')] min-h-full"
>
  <div
    class="col-start-5 col-span-4 md:col-start-6 md:col-span-2 xl:col-start-6 2xl:col-start-6"
  >
    <img
      class="bg-white rounded-b-2xl w-full px-3 py-2 xl:w-52 2xl:w-60 md:w-96"
      src="/assets/image/Logos/logo.png"
      alt="logo_universal"
      srcset=""
    />
  </div>
  <!-- IMAGEN -->

  <div
    class="col-start-1 col-span-12 mt-0 md:col-start-1 md:col-span-12 xl:col-start-1 xl:col-span-6 2xl:col-start-1 2xl:col-span-6 lg:mt-8 xl:-mt-14 2xl:mt-8"
  >
    <img
      class="rounded-full my-10 w-10/12 md:w-3/5 lg:w-3/5 mx-8"
      src="/assets/image/miniatura.png"
      alt="miniatura"
      srcset=""
    />
  </div>

  <div
    class="col-start-1 col-span-12 md:col-start-1 md:col-span-12 xl:col-start-7 2xl:col-start-7 xl:col-span-4 2xl:col-span-4 mt-2 mb-4 px-8 md:mt-0 md:mb-8 xl:mt-16 xl:mb-16 2xl:mt-28 2xl:mb-24 xl:px-8"
  >
    <p
      class="text-justify text-title font-bold text-4xl md:text-6xl lg:text-7xl"
    >
      Hola 👋🏾, <br />
      soy Wisthong 😎
    </p>

    <p class="mt-2 lg:mt-4 text-2xl">
      Trabajemos juntos y realicemos app <br />
      moviles 📱 y sitos web responsives 💻
    </p>

    <div class="mt-8">
      <a
        class="text-2xl lg:text-4xl text-white bg-blue-500 hover:bg-blue-900 hover:text-5xl px-6 py-2 rounded-full"
        href="https://github.com/Wisthong"
        target="_blank"
        rel="noopener noreferrer"
      >
        <fa-icon class="" [icon]="faGithub"></fa-icon>

        GitHub
      </a>
    </div>
  </div>
</div>
