<div class="bg-title py-2">
  <div class="grid grid-cols-4 md:grid-cols-4 lg:grid-cols-6 xl:grid-cols-9">
    <a
      class="mx-auto xl:text-justify text-white xl:col-start-2"
      href="https://appgiphy.web.app/"
      target="_blank"
    >
      <img
        class="w-12 xl:w-36"
        src="/assets/image/ICONOS/SICODES.png"
        alt=""
        srcset=""
      />
      <span class="xl:mx-4 text-sm mx-auto xl:text-2xl font-roboto font-bold"
        >Giphy Gifs
      </span>
    </a>
    <a
      class="mx-auto xl:text-justify text-white"
      href="https://jocular-swan-f7fcb4.netlify.app/weather"
      target="_blank"
    >
      <img
        class="w-12 xl:w-36"
        src="/assets/image/ICONOS/SIRENA.png"
        alt=""
        srcset=""
      />
      <span class="xl:mx-4 text-sm mx-auto xl:text-2xl font-roboto font-bold"
        >Weather
      </span>
    </a>
    <a
      class="mx-auto xl:text-justify text-white"
      href="https://discord.gg/czTpPkY8bv"
      target="_blank"
    >
      <img
        class="w-12 xl:w-36"
        src="/assets/image/ICONOS/DISCORD.png"
        alt=""
        srcset=""
      />
      <span class="xl:mx-4 text-sm mx-auto xl:text-2xl font-roboto font-bold"
        >DISCORD</span
      >
    </a>
    <a
      class="mx-auto xl:text-justify text-white"
      href="http://192.168.40.47:9000/"
      target="_blank"
    >
      <img
        class="w-12 xl:w-36"
        src="/assets/image/ICONOS/CLIENTES.png"
        alt=""
        srcset=""
      />
      <span class="xl:mx-4 text-sm mx-auto xl:text-2xl font-roboto font-bold"
        >CLIENTES
      </span>
    </a>
    <a
      class="mx-auto xl:text-justify text-white"
      href="http://192.168.40.47/asesor"
      target="_blank"
    >
      <img
        class="w-12 xl:w-36"
        src="/assets/image/ICONOS/ANUNCIOS.png"
        alt=""
        srcset=""
      />
      <span class="xl:mx-4 text-sm mx-auto xl:text-2xl font-roboto font-bold"
        >ANUNCIOS
      </span>
    </a>
    <a
      class="mx-auto xl:text-justify text-white"
      href="https://app-inventario-universal.web.app/"
      target="_blank"
    >
      <img
        class="w-12 xl:w-36"
        src="/assets/image/ICONOS/INVENTARIO.png"
        alt=""
        srcset=""
      />
      <span class="xl:mx-4 text-sm mx-auto xl:text-2xl font-roboto font-bold"
        >INVENTARIO
      </span>
    </a>
    <a
      class="mx-auto xl:text-justify text-white"
      href="https://lookerstudio.google.com/u/0/reporting/0b19b391-5b0b-42e5-a5d4-7a7de814ccaa/page/p_nwhjzzbc9c"
      target="_blank"
    >
      <img
        class="w-12 xl:w-36"
        src="/assets/image/ICONOS/VENTAS.png"
        alt=""
        srcset=""
      />
      <span class="xl:mx-4 text-sm mx-auto xl:text-2xl font-roboto font-bold"
        >VENTAS
      </span>
    </a>
  </div>
</div>
