<div class="grid grid-cols-1 mx-6 md:mx-14 my-0 xl:mx-20 xl:my-4">
  <!-- EXTENSIONES -->
  <div class="bg-rosado my-4 xl:my-12 rounded-xl shadow-xl">
    <p
      class="text-4xl md:text-5xl xl:text-6xl 2xl:text-7xl text-title mx-8 my-6 font-passion"
    >
      LINEA
      <span>8891190, para llamadas a celular marca el # 7</span>
    </p>

    <p></p>
    <h1
      class="text-4xl md:text-5xl xl:text-6xl 2xl:text-7xl text-title mx-8 my-6"
    >
      EXTENSIONES
    </h1>
    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 mx-8 mt-0 mb-8">
      <p class="text-title text-xs md:text-base xl:text-lg">
        Ext 111 <span class="font-roboto font-bold">CARTERA</span>
      </p>
      <p class="text-title text-xs md:text-base xl:text-lg">
        Ext 112 <span class="font-roboto font-bold">VENTASPAP4</span>
      </p>
      <p class="text-title text-xs md:text-base xl:text-lg">
        Ext 113 <span class="font-roboto font-bold">SURTIDOR</span>
      </p>
      <p class="text-title text-xs md:text-base xl:text-lg">
        Ext 115 <span class="font-roboto font-bold">BOD01LIDER</span>
      </p>
      <p class="text-title text-xs md:text-base xl:text-lg">
        Ext 116 <span class="font-roboto font-bold">BODEGA COSMETICOS</span>
      </p>
      <p class="text-title text-xs md:text-base xl:text-lg">
        Ext 117 <span class="font-roboto font-bold">VENTASPAP1</span>
      </p>
      <p class="text-title text-xs md:text-base xl:text-lg">
        Ext 118 <span class="font-roboto font-bold">TESORERIA</span>
      </p>
      <p class="text-title text-xs md:text-base xl:text-lg">
        Ext 120 <span class="font-roboto font-bold">VENTASPAP3</span>
      </p>
      <p class="text-title text-xs md:text-base xl:text-lg">
        Ext 121 <span class="font-roboto font-bold">CONTADORA</span>
      </p>
      <p class="text-title text-xs md:text-base xl:text-lg">
        Ext 122 <span class="font-roboto font-bold">COSMETICOSPDV</span>
      </p>
      <p class="text-title text-xs md:text-base xl:text-lg">
        Ext 123 <span class="font-roboto font-bold">TRANSFERENCIAS</span>
      </p>
      <p class="text-title text-xs md:text-base xl:text-lg">
        Ext 124 <span class="font-roboto font-bold">CACHARROPDV</span>
      </p>
      <p class="text-title text-xs md:text-base xl:text-lg">
        Ext 130 <span class="font-roboto font-bold">CACHARROPDV2</span>
      </p>
      <p class="text-title text-xs md:text-base xl:text-lg">
        Ext 168 <span class="font-roboto font-bold">CALLCENT01</span>
      </p>
      <p class="text-title text-xs md:text-base xl:text-lg">
        Ext 169 <span class="font-roboto font-bold">CEDI DESPACHOS</span>
      </p>
      <p class="text-title text-xs md:text-base xl:text-lg">
        Ext 170 <span class="font-roboto font-bold">CALLCENT02</span>
      </p>
      <p class="text-title text-xs md:text-base xl:text-lg">
        Ext 171 <span class="font-roboto font-bold">CALLCENT03</span>
      </p>
      <p class="text-title text-xs md:text-base xl:text-lg">
        Ext 172 <span class="font-roboto font-bold">CALLCENT04</span>
      </p>
      <p class="text-title text-xs md:text-base xl:text-lg">
        Ext 173 <span class="font-roboto font-bold">RECURSO_H</span>
      </p>
      <p class="text-title text-xs md:text-base xl:text-lg">
        Ext 135 <span class="font-roboto font-bold">CALLCENTER_CENTRO1</span>
      </p>
      <p class="text-title text-xs md:text-base xl:text-lg">
        Ext 176 <span class="font-roboto font-bold">CALLCENTER_CENTRO2</span>
      </p>
    </div>
  </div>

  <!-- CORREOS INSTITUCIONALES-->
  <div class="bg-azulclarito rounded-xl shadow-xl">
    <h1
      class="text-4xl md:text-5xl xl:text-6xl 2xl:text-7xl text-title mx-8 my-6"
    >
      CORREO INSTITUCIONAL
    </h1>
    <div class="grid grid-cols-1 md:grid-cols-2 mx-8 mt-0 mb-8 gap-x-10">
      <p class="font-roboto font-bold text-xs md:text-base xl:text-lg">
        ALBA VALENCIA:
        <a href="mailto:contabilidad@distribuidorauniversalcali.com">
          <span class="font-normal">
            contabilidad@distribuidorauniversalcali.com
          </span>
        </a>
      </p>
      <p class="font-roboto font-bold text-xs md:text-base xl:text-lg">
        CHRISTIAN RUIZ:
        <a href="mailto:sistemas@distribuidorauniversacali.com">
          <span class="font-normal">
            sistemas@distribuidorauniversacali.com
          </span>
        </a>
      </p>
      <p class="font-roboto font-bold text-xs md:text-base xl:text-lg">
        NATALIA DUQUE:
        <a href="mailto:asist.contable@distribuidorauniversalcali.com">
          <span class="font-normal">
            asist.contable@distribuidorauniversalcali.com
          </span>
        </a>
      </p>
      <p class="font-roboto font-bold text-xs md:text-base xl:text-lg">
        JAMER MUÑOZ:
        <a href="mailto:inventario@distribuidorauniversalcali.com">
          <span class="font-normal">
            inventario@distribuidorauniversalcali.com
          </span>
        </a>
      </p>
      <p class="font-roboto font-bold text-xs md:text-base xl:text-lg">
        JHONATAN VILLEGAS:
        <a href="mailto:admin.item@distribuidorauniversalcali.com">
          <span class="font-normal">
            admin.item@distribuidorauniversalcali.com
          </span>
        </a>
      </p>
      <p class="font-roboto font-bold text-xs md:text-base xl:text-lg">
        KELLY RUIZ:
        <a href="mailto:compras2@distribuidorauniversalcali.com">
          <span class="font-normal">
            compras2@distribuidorauniversalcali.com
          </span>
        </a>
      </p>
      <p class="font-roboto font-bold text-xs md:text-base xl:text-lg">
        SEBASTIAN HOYOS:
        <a href="mailto:compras3@distribuidorauniversalcali.com">
          <span class="font-normal">
            compras3@distribuidorauniversalcali.com
          </span>
        </a>
      </p>
      <p class="font-roboto font-bold text-xs md:text-base xl:text-lg">
        EDINSON SUAREZ:
        <a href="mailto:compras4@distribuidorauniversalcali.com">
          <span class="font-normal">
            compras4@distribuidorauniversalcali.com
          </span>
        </a>
      </p>
      <p class="font-roboto font-bold text-xs md:text-base xl:text-lg">
        ELIANA BARRERA:
        <a href="mailto:compras5@distribuidorauniversalcali.com">
          <span class="font-normal">
            compras5@distribuidorauniversalcali.com
          </span>
        </a>
      </p>
      <p class="font-roboto font-bold text-xs md:text-base xl:text-lg">
        FRANCISCO FERNANDEZ:
        <a href="mailto:logistica@distribuidorauniversalcali.com">
          <span class="font-normal">
            logistica@distribuidorauniversalcali.com
          </span>
        </a>
      </p>
      <p class="font-roboto font-bold text-xs md:text-base xl:text-lg">
        CLARITA:
        <a href="mailto:gerencia@distribuidorauniversalcali.com">
          <span class="font-normal">
            gerencia@distribuidorauniversalcali.com
          </span>
        </a>
      </p>
      <p class="font-roboto font-bold text-xs md:text-base xl:text-lg">
        ENTRANTE:
        <a href="mailto:factura@distribuidorauniversalcali.com">
          <span class="font-normal">
            factura@distribuidorauniversalcali.com
          </span>
        </a>
      </p>
      <p class="font-roboto font-bold text-xs md:text-base xl:text-lg">
        CAMILA MORALES:
        <a href="mailto:sst@distribuidorauniversalcali.com">
          <span class="font-normal"> sst@distribuidorauniversalcali.com </span>
        </a>
      </p>
      <p class="font-roboto font-bold text-xs md:text-base xl:text-lg">
        JUAN CASTRILLON:
        <a href="mailto:costos@distribuidorauniversalcali.com">
          <span class="font-normal">
            costos@distribuidorauniversalcali.com
          </span>
        </a>
      </p>
      <p class="font-roboto font-bold text-xs md:text-base xl:text-lg">
        JESSICA CIFUENTES:
        <a href="mailto:tesoreria@distribuidorauniversalcali.com">
          <span class="font-normal">
            tesoreria@distribuidorauniversalcali.com
          </span>
        </a>
      </p>
      <p class="font-roboto font-bold text-xs md:text-base xl:text-lg">
        DIANA:
        <a href="mailto:cartera@distribuidorauniversalcali.com">
          <span class="font-normal">
            cartera@distribuidorauniversalcali.com
          </span>
        </a>
      </p>
      <p class="font-roboto font-bold text-xs md:text-base xl:text-lg">
        ANDREA MARTINEZ:
        <a href="mailto:admon@distribuidorauniversalcali.com">
          <span class="font-normal">
            admon@distribuidorauniversalcali.com
          </span>
        </a>
      </p>
      <p class="font-roboto font-bold text-xs md:text-base xl:text-lg">
        PASOANCHO:
        <a href="mailto:pdv14pasoancho@distribuidorauniversalcali.com">
          <span class="font-normal">
            pdv14pasoancho@distribuidorauniversalcali.com
          </span>
        </a>
      </p>
      <p class="font-roboto font-bold text-xs md:text-base xl:text-lg">
        GLORIA MORA:
        <a href="mailto:liderla14@distribuidorauniversalcali.com">
          <span class="font-normal">
            liderla14@distribuidorauniversalcali.com
          </span>
        </a>
      </p>
      <p class="font-roboto font-bold text-xs md:text-base xl:text-lg">
        DANIELA MARTINEZ:
        <a href="mailto:marketing@distribuidorauniversalcali.com">
          <span class="font-normal">
            marketing@distribuidorauniversalcali.com
          </span>
        </a>
      </p>
      <p class="font-roboto font-bold text-xs md:text-base xl:text-lg">
        ELECTRÓNICA:
        <a href="mailto:901160842@distribuidorauniversalcali.com">
          <span class="font-normal">
            901160842@distribuidorauniversalcali.com
          </span>
        </a>
      </p>
      <p class="font-roboto font-bold text-xs md:text-base xl:text-lg">
        GERSON FERNANDEZ:
        <a href="mailto:devoluciones@distribuidorauniversalcali.com">
          <span class="font-normal">
            devoluciones@distribuidorauniversalcali.com
          </span>
        </a>
      </p>
      <p class="font-roboto font-bold text-xs md:text-base xl:text-lg">
        ERIKA PINEDA:
        <a href="mailto:pdvsexta@distribuidorauniversalcali.com">
          <span class="font-normal">
            pdvsexta@distribuidorauniversalcali.com
          </span>
        </a>
      </p>
      <p class="font-roboto font-bold text-xs md:text-base xl:text-lg">
        RICARDO ZAMBRANO:
        <a href="mailto:mercadeo@distribuidorauniversalcali.com">
          <span class="font-normal">
            mercadeo@distribuidorauniversalcali.com
          </span>
        </a>
      </p>
      <p class="font-roboto font-bold text-xs md:text-base xl:text-lg">
        LINA MONTENEGRO:
        <a href="mailto:publicidad@distribuidorauniversalcali.com">
          <span class="font-normal">
            publicidad@distribuidorauniversalcali.com
          </span>
        </a>
      </p>
      <p class="font-roboto font-bold text-xs md:text-base xl:text-lg">
        CONTABILIDAD:
        <a href="mailto:posuniversal@distribuidorauniversalcali.com">
          <span class="font-normal">
            posuniversal@distribuidorauniversalcali.com
          </span>
        </a>
      </p>
      <p class="font-roboto font-bold text-xs md:text-base xl:text-lg">
        NELSY VILLOTA:
        <a href="mailto:admoncentro@distribuidorauniversalcali.com">
          <span class="font-normal">
            admoncentro@distribuidorauniversalcali.com
          </span>
        </a>
      </p>
      <p class="font-roboto font-bold text-xs md:text-base xl:text-lg">
        AMPARO RESTREPO:
        <a href="mailto:liderpdvcentro@distribuidorauniversalcali.com">
          <span class="font-normal">
            liderpdvcentro@distribuidorauniversalcali.com
          </span>
        </a>
      </p>
      <p class="font-roboto font-bold text-xs md:text-base xl:text-lg">
        JENNIFER CAVICHE:
        <a href="mailto:asesor@distribuidorauniversalcali.com">
          <span class="font-normal">
            asesor@distribuidorauniversalcali.com
          </span>
        </a>
      </p>
      <p class="font-roboto font-bold text-xs md:text-base xl:text-lg">
        WILSON AGUIRRE:
        <a href="mailto:externo1pud@gmail.com">
          <span class="font-normal"> externo1pud@gmail.com </span>
        </a>
      </p>
      <p class="font-roboto font-bold text-xs md:text-base xl:text-lg">
        MILTON GRISALEZ:
        <a href="mailto:externo2pud@gmail.com">
          <span class="font-normal"> externo2pud@gmail.com </span>
        </a>
      </p>
      <p class="font-roboto font-bold text-xs md:text-base xl:text-lg">
        YANELLA KLINGER:
        <a href="mailto:asesor2pudoutlook.com ">
          <span class="font-normal"> asesor2pudoutlook.com </span>
        </a>
      </p>
      <p class="font-roboto font-bold text-xs md:text-base xl:text-lg">
        MARTHA BORJA:
        <a href="mailto:asesor4pud@outlook.com">
          <span class="font-normal"> asesor4pud@outlook.com </span>
        </a>
      </p>
      <p class="font-roboto font-bold text-xs md:text-base xl:text-lg">
        CONY LUGO:
        <a href="mailto:asesor5pud@outlook.com">
          <span class="font-normal"> asesor5pud@outlook.com </span>
        </a>
      </p>
      <p class="font-roboto font-bold text-xs md:text-base xl:text-lg">
        ERIKA:
        <a href="mailto:recursohumano@distribuidorauniversal.com ">
          <span class="font-normal">
            recursohumano@distribuidorauniversal.com
          </span>
        </a>
      </p>
    </div>
  </div>
</div>
