<!-- TECNOLOGIAS -->
<div class="grid grid-cols-1 mx-6 md:mx-14 my-0 xl:mx-20 xl:my-4">
  <!-- EXTENSIONES -->
  <div class="bg-rosado my-4 xl:my-12 rounded-xl shadow-xl">
    <h1
      class="text-center text-4xl md:text-5xl xl:text-6xl 2xl:text-7xl text-title mx-8 my-6"
    >
      Desarrollador FrontEnd & Backend, App Moviles
    </h1>
    <p
      class="text-4xl md:text-5xl xl:text-6xl 2xl:text-7xl text-title mx-8 my-6 font-passion"
    >
      Tecnologias que utizo
      <!-- <span>8891190, para llamadas a celular marca el # 7</span> -->
    </p>
    <!-- <span>8891190, para llamadas a celular marca el # 7</span> -->

    <!-- <h1
      class="text-4xl md:text-5xl xl:text-6xl 2xl:text-7xl text-title mx-8 my-6"
    >
      Desarrollador FrontEnd & Backend, App Moviles
    </h1> -->
    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 mx-8 mt-0 mb-8">
      <fa-icon class="text-7xl" [icon]="faGithub"></fa-icon>
      <fa-icon class="text-7xl text-lime-500" [icon]="faNode"></fa-icon>
      <fa-icon class="text-7xl text-red-500" [icon]="faHtml5"></fa-icon>
      <fa-icon class="text-7xl text-red-600" [icon]="faAngular"></fa-icon>
      <fa-icon class="text-7xl text-blue-600" [icon]="faCss3"></fa-icon>
      <fa-icon class="text-7xl text-amber-500" [icon]="faJs"></fa-icon>
    </div>
  </div>

  <!-- Estudios-->
  <div class="bg-azulclarito rounded-xl shadow-xl">
    <h1
      class="text-4xl md:text-5xl xl:text-6xl 2xl:text-7xl text-title mx-8 my-6 uppercase"
    >
      Estudios
    </h1>
    <div class="grid grid-cols-1 md:grid-cols-2 mx-8 mt-0 mb-8 gap-x-10">
      <!-- <p class="font-roboto font-bold text-xs md:text-base xl:text-lg">
        ALBA VALENCIA:
        <a href="mailto:contabilidad@distribuidorauniversalcali.com">
          <span class="font-normal">
            contabilidad@distribuidorauniversalcali.com
          </span>
        </a>
      </p> -->
      <p class="font-roboto font-bold text-xs md:text-base xl:text-lg">
        Ingenieria de Sistemas:
        <span class="font-normal"> Universidad del Pacifico </span>
      </p>
    </div>
  </div>

  <!-- Proyectos-->
  <div class="bg-rosado my-4 xl:my-12 rounded-xl shadow-xl">
    <h1
      class="text-4xl md:text-5xl xl:text-6xl 2xl:text-7xl text-title mx-8 my-6"
    >
      Proyectos
    </h1>

    <div class="grid grid-cols-2 lg:grid-cols-4">
      <div class="rounded shadow-lg my-4 mx-2 bg-white">
        <img
          class="h-auto"
          src="/assets/image/proyectos/wiki.png"
          alt="Sunset in the mountains"
        />
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">Wikipedia</div>
          <p class="text-gray-700 text-base">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Voluptatibus quia, nulla! Maiores et perferendis eaque,
            exercitationem praesentium nihil.
          </p>
        </div>
        <div class="px-6 pt-4 pb-2">
          <fa-icon class="text-2xl text-cyan-600" [icon]="faGithub">
            <!-- <span
              class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
              >#github</span
            > -->
          </fa-icon>
          <a
            href="https://appwikipedia.netlify.app/"
            target="_blank"
            class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
          >
            #Sitio web</a
          >
          <!-- <span class=""> </span> -->
        </div>
      </div>

      <div class="rounded shadow-lg my-4 mx-2 bg-white">
        <img
          class="h-auto"
          src="/assets/image/proyectos/weather.png"
          alt="Sunset in the mountains"
        />
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">Weather</div>
          <p class="text-gray-700 text-base">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Voluptatibus quia, nulla! Maiores et perferendis eaque,
            exercitationem praesentium nihil.
          </p>
        </div>
        <div class="px-6 pt-4 pb-2">
          <fa-icon class="text-2xl text-cyan-600" [icon]="faGithub">
            <!-- <span
              class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
              >#github</span
            > -->
          </fa-icon>
          <a
            href="https://jocular-swan-f7fcb4.netlify.app/weather"
            target="_blank"
            class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
          >
            #Sitio web</a
          >
          <!-- <span class=""> </span> -->
        </div>
      </div>

      <div class="rounded shadow-lg my-4 mx-2 bg-white">
        <img
          class="h-auto"
          src="/assets/image/proyectos/weather.png"
          alt="Sunset in the mountains"
        />
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">Web Giphy</div>
          <p class="text-gray-700 text-base">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Voluptatibus quia, nulla! Maiores et perferendis eaque,
            exercitationem praesentium nihil.
          </p>
        </div>
        <div class="px-6 pt-4 pb-2">
          <fa-icon class="text-2xl text-cyan-600" [icon]="faGithub">
            <!-- <span
              class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
              >#github</span
            > -->
          </fa-icon>
          <a
            href="https://appgiphy.web.app/"
            target="_blank"
            class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
          >
            #Sitio web</a
          >
          <!-- <span class=""> </span> -->
        </div>
      </div>

      <div class="rounded shadow-lg my-4 mx-2 bg-white">
        <img
          class="h-auto"
          src="/assets/image/proyectos/weather.png"
          alt="Sunset in the mountains"
        />
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">Caseritos Jenny</div>
          <p class="text-gray-700 text-base">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Voluptatibus quia, nulla! Maiores et perferendis eaque,
            exercitationem praesentium nihil.
          </p>
        </div>
        <div class="px-6 pt-4 pb-2">
          <fa-icon class="text-2xl text-cyan-600" [icon]="faGithub">
            <!-- <span
              class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
              >#github</span
            > -->
          </fa-icon>
          <a
            href="https://caseritosjenny.web.app/home"
            target="_blank"
            class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
          >
            #Sitio web</a
          >
          <!-- <span class=""> </span> -->
        </div>
      </div>

      <div class="rounded shadow-lg my-4 mx-2 bg-white">
        <img
          class="h-auto"
          src="/assets/image/proyectos/weather.png"
          alt="Sunset in the mountains"
        />
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">Paises</div>
          <p class="text-gray-700 text-base">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Voluptatibus quia, nulla! Maiores et perferendis eaque,
            exercitationem praesentium nihil.
          </p>
        </div>
        <div class="px-6 pt-4 pb-2">
          <fa-icon class="text-2xl text-cyan-600" [icon]="faGithub">
            <!-- <span
              class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
              >#github</span
            > -->
          </fa-icon>
          <a
            href="https://apppaises-e9b0b.web.app/"
            target="_blank"
            class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
          >
            #Sitio web</a
          >
          <!-- <span class=""> </span> -->
        </div>
      </div>
    </div>

    <!-- <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 mx-8 mt-0 mb-8">
      <fa-icon class="text-7xl text-blue-600" [icon]="faCss3"></fa-icon>
      <fa-icon class="text-7xl text-amber-500" [icon]="faJs"></fa-icon>
    </div> -->
  </div>
</div>
